<table class="table">
  <thead>
    <tr>
      <th class="table__header" colspan="6">today's forescast</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table__items">
        <p>6:00 AM</p>
        <i class="fa-solid fa-cloud icon clouds"></i>
        <p class="grados">25&deg;</p>
      </td>
      <td class="table__items">
        <p>9:00 AM</p>
        <i class="fa-solid fa-sun sun  icon"></i>
        <p class="grados">28&deg;</p>
      </td>
      <td class="table__items">
        <p>12:00 PM</p>
        <i class="fa-solid fa-sun sun icon"></i>
        <p class="grados">33&deg;</p>
      </td>
      <td class="table__items">
        <p>15:00 PM</p>
        <i class="fa-solid fa-sun sun icon"></i>
        <p class="grados">34&deg;</p>
      </td>
      <td class="table__items">
        <p>18:00 PM</p>
        <i class="fa-solid fa-sun sun icon"></i>
        <p class="grados">32&deg;</p>
      </td>
      <td class="table__items">
        <p>21:00 PM</p>
        <i class="fa-solid fa-moon moon icon"></i>
        <p class="grados">30&deg;</p>
      </td>
    </tr>
  </tbody>
</table>
