<div class="Container">
  <form class="Container__form">
    <input type="text" class="text" name="searchInput" placeholder="Introduce una localidad..." id="search" />
    <button class="btn">
      <i class="fa-solid fa-magnifying-glass fa-bounce iconSearch"></i>
    </button>
  </form>
</div>
<div class="hero">
  <div class="hero__text">
    <h1 class="h1">Madrid</h1>
    <p class="p">Chance of rain: 0%</p>
    <h2 class="h2">31&deg;</h2>
  </div>
  <div class="hero__sun">
    <i class="fa-solid fa-sun fa-beat-fade iconSun"></i>
  </div>
</div>
